body {
	font-family: "Raleway", sans-serif;
	font-size: 18px;
	margin: 0;
	background-color: E6F7FF;
	min-height: 100vh;
	background-color: black;
	color: white;
	padding: 20px 12px;
}

#main {
	max-width: 1224px;
	margin: 0 auto;
}

#hero {
	padding: 40px 16px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.card {
	background-color: #222;
	box-shadow: 0 4px 8px 0 #333333, 0 6px 20px 0 #262626;
	border-radius: 10px;
	padding: 14px 12px;
}

#name {
	margin: 0 auto;
	text-align: center;
	font-size: 30px;
	font-weight: 800;
}

#social-links {
	list-style: none;
	display: flex;
	align-items: center;
	gap: 10px;
}

#social-links a {
	font-size: 24px;
	color: white;
}

#details {
	display: grid;
	grid-template-columns: 1fr;
	gap: 28px;
	margin-top: 40px;
}

@media screen and (min-width: 1024px) {
	#details {
		grid-template-columns: 1fr 1fr;
		gap: 40px;
	}

	body {
		padding: 40px 12px;
	}

	.card {
		padding: 20px 16px;
	}
}
